+code("python").
    class Person:
        # メンバ変数
        # コンストラクタがあれば省略可
        name = ""
        age = 0

        # コンストラクタ
        def __init__(self, name, age):
            self.name = name
            self.age  = age

        # メソッド
        def get_name(self):
            return self.name

