p.lead 特殊な機能を持つメソッド
h4 例
+code("python").
    def __init__(self):
        # 初期化処理

    # +
    def __add__(self, other):
        # selfとotherの和を返す

    # ==
    def __eq__(self, other):
        # selfとotherが等しいか

    # print
    def __repr__(self):
        # 文字列化(オブジェクトを正確に表すのが目的. デフォルトでモジュール、クラス名、アドレスを出力)
    def __str__(self):
        # 文字列化(読めることが目的. print, strなどは両方あればこちらが優先)

    # []
    def __getitem__(self, key):
        # keyに対応する値を返す

h4 参考
a(href="http://diveintopython3-ja.rdy.jp/special-method-names.html") 特殊メソッド名 - Dive Into Python 3 日本語版
