include ../../templates/dev.pug

+var_dev([{"id":0,"title":"文章構造","list":[{"path":"latex/title","title":"タイトルの出力"}]},{"id":1,"title":"他の言語","list":[{"path":"c/top","title":"C"},{"path":"java/top","title":"Java"},{"path":"ruby/top","title":"Ruby"},{"path":"python/top","title":"Python"},{"path":"android/top","title":"Android"},{"path":"algorithm/top","title":"アルゴリズム"},{"path":"kotlin/top","title":"Kotlin"},{"path":"mysql/top","title":"MySQL"}]}], "latex/top", "LaTeX")

+devart("latex", "top", "LaTeX", "LaTeX", "2017/12/19")
    p.lead TeXは文字などを紙面に配置する組版システムであり、LaTeXはTeXを簡単に扱うために作られたマクロパッケージである
    p.lead LaTeX以外にも多くのマクロパッケージがある
    h3 例
    foo.tex
    +code("latex").
        \documentclass{jsarticle}
        \begin{document}
        $$ a = b * c $$
        \end{document}
    h4 コンパイル(PDF化)
    +code("bash").
        platex foo.tex      # dvi(device independent)ファイル作成
        dvipdfmx foo.dvi    # PDF化
    p あるいは
    +code("bash").
        latexmk foo.tex     # PDF化までまとめて行う
    p latexは日本語非対応なのでplatexを用いた
    p 他にもUnicode対応のものもある
    h3 参考
    a(href="https://qiita.com/Rumisbern/items/d9de41823aa46d5f05a8") Latexmkから学ぶPDF化までの処理の流れ - Qiita
    h3 関連
    a(href="https://texwiki.texjp.org/") TeX Wiki
    a(href="https://ja.wikipedia.org/wiki/TeX") TeX - Wikipedia
    
