@import "~bootstrap/scss/bootstrap";

p {
    @extend .mb-0
}

.navbar {
    background-color: #9fd9f6;
    @include media-breakpoint-up(lg) {
        // .sticky-top
        position: sticky;
        top: 0;
        z-index: 1020;
    }
}

main {
    min-height: 500px !important;
    @include media-breakpoint-up(md) {  // bootstrapのメディアクエリmixinをinclude
        min-height: 1000px !important;
    }
}

.sidebar {
    height: 100%;
    @include media-breakpoint-up(md) {
        border-left: 2px solid #ddd;
    }
    @include media-breakpoint-down(sm) {
        border-top: 2px solid #ddd;
    }
}

.breadcrumb li.active a {
    color: black;
    pointer-events: none;
}

.jumbotron h1 {
    @include media-breakpoint-up(md) {
        // .display-3
        font-size: 4.5rem;
        font-weight: 300;
        line-height: 1.2;
    }
}
