@import "~bootstrap/scss/bootstrap";

$pale-blue:  #9fd9f6;
$pale-green: #a2d7d4;

html {
    font-size: 1rem;
    @include media-breakpoint-up(md) {
        font-size: 1.1rem;
    }
    @include media-breakpoint-up(lg) {
        font-size: 1.2rem;
    }
}

p {
    @extend .mb-0;
}

ul {
    list-style: none;
}

a {
    &:link, &:visited {
        color: #0093ff;
    }
}

samp {
    @extend .p-2;
    @extend .rounded;
    background-color: #f5f2f0;
    display: block;
}

.navbar {
    background-color: $pale-blue;
    @include media-breakpoint-up(lg) {
        // .sticky-top
        position: sticky;
        top: 0;
        z-index: 1020;
    }
}

main {
    min-height: 500px !important;
}

.text-small {
    font-size: small;
}

.sidebar {
    height: 100%;
    @include media-breakpoint-up(md) {
        border-left: 2px solid #ddd;
    }
    @include media-breakpoint-down(sm) {
        border-top: 2px solid #ddd;
    }
}

.breadcrumb li.active a {
    color: black;
    pointer-events: none;
}

.jumbotron h1 {
    @include media-breakpoint-up(md) {
        // .display-3
        font-size: 4.5rem;
        font-weight: 300;
        line-height: 1.2;
    }
}

div.card-header > a {
    display: block;
}



a.dev-toggle {
    color: #555;
    &:hover, &:active {
        text-decoration: none;
        background-color: #eee;
    }
}

li.dev-item {
    @extend .pl-4;
    border-top: 1px #ccc dotted;
    a {
        display: block;
        &:hover, &:active {
            text-decoration: none;
            color: #444;
        }
    }
    &:hover, &:active {
        background-color: #dff2fc;
    }
}

#sidedev {
    background-color: $pale-green;
    a {
        color: #004986;
    }
    a:hover {
        color: #004986;
        text-decoration: none;
    }
}

#devart {
    & > * {
        @extend .ml-1;
    }
    p, pre, samp, h6 {
        @extend .ml-2;
    }
    #devtitle {
        background-color: $pale-green;
        @extend .p-2;
        @extend .mb-2;
        @extend .ml-0;
    }
    h2 {
        border-bottom: thick solid #ccc;
        @extend .mt-4;
    }
    h3 {
        border-bottom: medium solid #ccc;
        @extend .mt-4;
    }
    h4 {
        border-bottom: thin solid #ccc;
        @extend .mt-4;
    }
    h5 {
        @extend .mt-3;
        @extend .font-weight-bold;
        text-decoration: underline;
    }
    h6 {
        @extend .mt-2;
        @extend .font-weight-bold;
    }
}


