{
  "extends": "eslint:recommended",
  "parserOptions": {
    "ecmaVersion": 8,
    "sourceType": "module"
  },
  "globals": {
    "_": true
  },
  "env": {
    "browser": true,
    "jquery": true
  }
}
