include ../templates/univ_article.pug

+univart("2", "プロ基礎課題#7", "2017-11-08", ["プロ基礎"])
    p 課題2,3でprintするときに最後まで到達したかどうかをageが0かどうか(つまりデフォルトのままか)で判定しているのはよくないけど最後にNULLを入れるのがめんどうだった
    p.mt-1 課題3は全員消し去るとセグフォになってしまう
    +gist("https://gist.github.com/bubble0601/d51d10d87ba46754d91b5a50eddd7494.js")
    