include ../../templates/dev.pug

+var_dev([{"id":0,"title":"配列","list":[{"path":"algorithm/combination","title":"組み合わせ"},{"path":"algorithm/permutation","title":"順列"}]},{"id":1,"title":"他の言語","list":[{"path":"c/top","title":"C"},{"path":"java/top","title":"Java"},{"path":"ruby/top","title":"Ruby"},{"path":"python/top","title":"Python"},{"path":"android/top","title":"Android"},{"path":"latex/top","title":"LaTeX"},{"path":"kotlin/top","title":"Kotlin"},{"path":"mysql/top","title":"MySQL"},{"path":"git/top","title":"Git"}]}], "algorithm/top", "アルゴリズム")

+devart("algorithm", "top", "アルゴリズム", "アルゴリズム", "2017/12/19")
    p.lead 問題の解き方
    
