+code("latex").
    \documentclass{jsarticle}

    \title{タイトル}    % 省略不可
    \author{著者}       % 省略可?
    \date{2017/12/12}   % 省略すると書いてる日の日付

    \begin{document}
      % タイトルを出力
      \maketitle

    \end{document}
