include ../../templates/dev.pug

+var_dev([{"id":0,"title":"リスト","list":[{"path":"python/flatten","title":"リストを展開する"}]},{"id":1,"title":"関数","list":[{"path":"python/variable_argument","title":"可変長引数"},{"path":"python/type_check","title":"型判定"}]},{"id":2,"title":"クラス","list":[{"path":"python/class","title":"クラス"},{"path":"python/special_method","title":"特殊メソッド"}]}], "python/class", "Python")

+devart("python", "class", "クラス", "Python")
    +code("python").
        class Person:
            # メンバ変数
            # コンストラクタがあれば省略可
            name = ""
            age = 0
    
            # コンストラクタ
            def __init__(self, name, age):
                self.name = name
                self.age  = age
    
            # メソッド
            def get_name(self):
                return self.name
    
    
