include ../../templates/dev.pug

+var_dev([{"id":0,"title":"リスト","list":[{"path":"python/flatten","title":"リストを展開する"}]},{"id":1,"title":"関数","list":[{"path":"python/variable_argument","title":"可変長引数"},{"path":"python/type_check","title":"型判定"}]},{"id":2,"title":"クラス","list":[{"path":"python/class","title":"クラス"},{"path":"python/special_method","title":"特殊メソッド"}]},{"id":3,"title":"例外","list":[{"path":"python/create_exception","title":"例外を自作する"}]},{"id":4,"title":"デバッグ","list":[{"path":"python/assert","title":"アサート文"}]},{"id":5,"title":"文字列","list":[{"path":"python/str_int_convertion","title":"文字列と数値の変換"}]}], "python/create_exception", "Python")

+devart("python", "create_exception", "例外を自作する", "Python", "2017/12/6")
    p.lead 例外を自作する
    +code("python").
        class MyException(Exception):
            def print(self):
                print("MyException is raised")
    
        try:
            raise MyException("error")
        except MyException as e:
            e.print()   #=> MyException is raised
            print(e)    #=> error
    
