include ../../templates/lang.pug

+var_lang([{"id":0,"title":"クラス","list":[{"filename":"python/special_method","title":"特殊メソッド"}]}], "python/special_method", "Python")

+langart("python", "special_method", "特殊メソッド", "Python")
    +code("python")
        def __init__:
            pass
    
        def __add__:
            pass
    
