include ../../templates/dev.pug

+var_dev([{"id":0,"title":"クラス","list":[{"path":"python/special_method","title":"特殊メソッド"}]}], "python/special_method", "Python")

+devart("python", "special_method", "特殊メソッド", "Python")
    +code("python").
        def __init__:
            pass
    
        def __add__:
            pass
    
