include ../../templates/lang.pug

+var_lang([{"id":0,"title":"クラス","list":[{"filename":"python/special_method","title":"特殊メソッド"}]},{"id":1,"title":"他の言語","list":[{"filename":"c/top","title":"C"},{"filename":"java/top","title":"Java"},{"filename":"ruby/top","title":"Ruby"}]}], "python/top", "Python")

+langart("python", "top", "Python", "Python")
    p.lead Python3を使用
    p スクリプト言語
    p ニシキヘビ
    p インデントが言語規則
    
    h3 実行例
    +code("bash").
        python sample.py
    
    h3 Hello World
    +code("python").
        print("Hello, World!")
    
    h3 Python2
    p 以前のバージョン
    p 2から3で大きく変わった
    h4 例
    p printは関数ではなく構文
    +code("python").
        print "Hello, World!"
    
