include ../../templates/dev.pug

+var_dev([{"id":0,"title":"リスト","list":[{"path":"python/flatten","title":"リストを展開する"}]},{"id":1,"title":"関数","list":[{"path":"python/variable_argument","title":"可変長引数"},{"path":"python/type_check","title":"型判定"}]},{"id":2,"title":"クラス","list":[{"path":"python/class","title":"クラス"},{"path":"python/special_method","title":"特殊メソッド"}]},{"id":3,"title":"例外","list":[{"path":"python/create_exception","title":"例外を自作する"}]},{"id":4,"title":"デバッグ","list":[{"path":"python/assert","title":"アサート文"}]},{"id":5,"title":"文字列","list":[{"path":"python/str_int_convertion","title":"文字列と数値の変換"}]},{"id":6,"title":"他の言語","list":[{"path":"c/top","title":"C"},{"path":"java/top","title":"Java"},{"path":"ruby/top","title":"Ruby"},{"path":"android/top","title":"Android"},{"path":"latex/top","title":"LaTeX"},{"path":"algorithm/top","title":"アルゴリズム"},{"path":"kotlin/top","title":"Kotlin"},{"path":"mysql/top","title":"MySQL"}]}], "python/top", "Python")

+devart("python", "top", "Python", "Python", "2017/11/29")
    p.lead Python3を使用
    p スクリプト言語
    p ニシキヘビ
    p インデントが言語規則
    
    h3 実行例
    +code("bash").
        python sample.py
    
    h3 Hello World
    +code("python").
        print("Hello, World!")
    
    h3 Python2
    p 以前のバージョン
    p 2から3で大きく変わった
    h4 例
    p printは関数ではなく構文
    +code("python").
        print "Hello, World!"
    
