include ../../templates/dev.pug

+var_dev([{"id":0,"title":"リスト","list":[{"path":"python/flatten","title":"リストを展開する"}]},{"id":1,"title":"関数","list":[{"path":"python/variable_argument","title":"可変長引数"}]},{"id":2,"title":"クラス","list":[{"path":"python/class","title":"クラス"},{"path":"python/special_method","title":"特殊メソッド"}]},{"id":3,"title":"他の言語","list":[{"path":"c/top","title":"C"},{"path":"java/top","title":"Java"},{"path":"ruby/top","title":"Ruby"}]}], "python/top", "Python")

+devart("python", "top", "Python", "Python")
    p.lead Python3を使用
    p スクリプト言語
    p ニシキヘビ
    p インデントが言語規則
    
    h3 実行例
    +code("bash").
        python sample.py
    
    h3 Hello World
    +code("python").
        print("Hello, World!")
    
    h3 Python2
    p 以前のバージョン
    p 2から3で大きく変わった
    h4 例
    p printは関数ではなく構文
    +code("python").
        print "Hello, World!"
    
