include ../../templates/dev.pug

+var_dev([{"id":0,"title":"リスト","list":[{"path":"python/flatten","title":"リストを展開する"}]},{"id":1,"title":"関数","list":[{"path":"python/variable_argument","title":"可変長引数"},{"path":"python/type_check","title":"型判定"}]},{"id":2,"title":"クラス","list":[{"path":"python/class","title":"クラス"},{"path":"python/special_method","title":"特殊メソッド"}]},{"id":3,"title":"例外","list":[{"path":"python/create_exception","title":"例外を自作する"}]},{"id":4,"title":"デバッグ","list":[{"path":"python/assert","title":"アサート文"}]},{"id":5,"title":"文字列","list":[{"path":"python/str_int_convertion","title":"文字列と数値の変換"}]},{"id":6,"title":"他の言語","list":[{"path":"ruby/type_check","title":"Ruby"}]}], "python/type_check", "Python")

+devart("python", "type_check", "型判定", "Python", "2017/11/30")
    h5: code type(obj) is class
    +code("python"): :esc
        type(1) is int              #=> True
        type(1.0) in (int, float)   #=> True
        type(1) is object           #=> False
    
    h5: code isinstance(obj, class)
    +code("python"): :esc
        isinstance(1, int)          #=> True
        isinstance(1, object)       #=> True
        isinstance(1, (int, float)) #=> True
    
