include ../../templates/lang.pug

+var_lang([{"id":0,"title":"基本","list":[{"filename":"ruby/main","title":"main関数的なやつ"},{"filename":"ruby/print","title":"標準出力"},{"filename":"ruby/cl_args","title":"コマンドライン引数"}]},{"id":1,"title":"他の言語","list":[{"filename":"c/main","title":"C"}]}], "ruby/main")

+langart("ruby", "main", "main関数的なやつ", "Ruby")
    p.lead ファイルの1行目から順に実行される
    p.lead 以下のように書くと、if文の中は直接実行された場合は呼び出されるが、モジュールとしてインポートしたときは呼び出されない
    +code("ruby").
        if __FILE__ == $0
            # 処理
        end
    h4 例
    +code("ruby").
        if __FILE__ == $0
            puts "Hello, World!"
        end
    p 出力
    samp Hello, World!
    
