mixin sidebar_left
    div

include templates/layout.pug
+var

doctype html
html(dev="ja")
    +head("このサイトについて")

    body
        +header('top')

        +main([1,11,0])
            h2 このサイトについて
            p 当サイトを利用して発生したいかなる損害についても責任を負いません
            p Twitter, GitHubアイコンは
                a(href="https://www.iconfinder.com/iconsets/social-flat-rounded-rects") Social Media Icons by Aha-Soft
                | 様のものを使用しています

        +footer([{
            current: true,
            filename: 'about.html',
            title: 'About'
        }])
