include templates/dev.pug
+var

doctype html
html(lang="ja")
    +head('開発')

    body
        +header('dev')

        +main([0,9,3])
            - var kinds = [{"kind":"c","name":"C","categories":[{"id":0,"title":"基本","list":[{"path":"c/main","title":"main関数"},{"path":"c/command_line_args","title":"コマンドライン引数"},{"path":"c/split_code","title":"ソースファイル分割"}]},{"id":1,"title":"配列","list":[{"path":"c/two_dimensional_array","title":"2次元配列"}]}]},{"kind":"java","name":"Java","categories":[{"id":0,"title":"基本","list":[{"path":"java/main","title":"main関数"},{"path":"java/command_line_args","title":"コマンドライン引数"}]}]},{"kind":"kotlin","name":"Kotlin","categories":[{"id":0,"title":"関数","list":[{"path":"kotlin/lambda_expression","title":"ラムダ式"}]}]},{"kind":"ruby","name":"Ruby","categories":[{"id":0,"title":"基本","list":[{"path":"ruby/main","title":"main関数的なやつ"},{"path":"ruby/print","title":"標準出力"},{"path":"ruby/command_line_args","title":"コマンドライン引数"},{"path":"ruby/execute_shell_script","title":"シェルスクリプトを実行する"}]},{"id":1,"title":"入出力","list":[{"path":"ruby/console_key_input","title":"コンソールでキー入力を得る"}]},{"id":2,"title":"文字列","list":[{"path":"ruby/regexp","title":"正規表現"}]},{"id":3,"title":"配列","list":[{"path":"ruby/swap","title":"入れ替え"}]},{"id":4,"title":"関数","list":[{"path":"ruby/function_object","title":"関数オブジェクト"},{"path":"ruby/type_check","title":"型判定"}]}]},{"kind":"python","name":"Python","categories":[{"id":0,"title":"リスト","list":[{"path":"python/flatten","title":"リストを展開する"}]},{"id":1,"title":"関数","list":[{"path":"python/variable_argument","title":"可変長引数"},{"path":"python/type_check","title":"型判定"}]},{"id":2,"title":"クラス","list":[{"path":"python/class","title":"クラス"},{"path":"python/special_method","title":"特殊メソッド"}]},{"id":3,"title":"例外","list":[{"path":"python/create_exception","title":"例外を自作する"}]},{"id":4,"title":"デバッグ","list":[{"path":"python/assert","title":"アサート文"}]},{"id":5,"title":"文字列","list":[{"path":"python/str_int_convertion","title":"文字列と数値の変換"}]}]},{"kind":"latex","name":"LaTeX","categories":[{"id":0,"title":"文章構造","list":[{"path":"latex/title","title":"タイトルの出力"}]}]},{"kind":"algorithm","name":"アルゴリズム","categories":[{"id":0,"title":"配列","list":[{"path":"algorithm/combination","title":"組み合わせ"},{"path":"algorithm/permutation","title":"順列"}]}]},{"kind":"android","name":"Android","categories":[{"id":0,"title":"レイアウト","list":[{"path":"android/simple_fragment_template","title":"Android Studioでfragmentを使ったシンプルなテンプレートを作る"}]},{"id":1,"title":"コンポーネント","list":[{"path":"android/edittext_ime_invalidate","title":"EditTextでIMEを無効化する"},{"path":"android/button_unset_allcaps","title":"ボタンで全て大文字になるのを防ぐ"},{"path":"android/re_draw","title":"再描画させる"},{"path":"android/edittext_cursor_move","title":"EditTextのカーソルを動かす"},{"path":"android/create_custom_view","title":"カスタムViewを作成する"}]}]},{"kind":"mysql","name":"MySQL","categories":[{"id":0,"title":"SQL文","list":[{"path":"mysql/manipulate_database","title":"データベースの操作"}]}]}]
            div.row.mx-auto
                each k in kinds
                    +dev-card(k.kind, k.name, k.categories)

        +footer([{
            filename: 'index.html',
            title: 'Top'
        }, {
            current: true,
            filename: 'dev.html',
            title: '開発'
        }])
