include templates/dev.pug
+var

+head('開発')

body
    +header('dev')

    +main([0,9,3])
        - var kinds = [{"kind":"c","name":"C","categories":[{"id":0,"title":"基本","list":[{"path":"c/main","title":"main関数"},{"path":"c/cl_args","title":"コマンドライン引数"}]}]},{"kind":"java","name":"Java","categories":[{"id":0,"title":"基本","list":[{"path":"java/main","title":"main関数"},{"path":"java/cl_args","title":"コマンドライン引数"}]}]},{"kind":"ruby","name":"Ruby","categories":[{"id":0,"title":"基本","list":[{"path":"ruby/main","title":"main関数的なやつ"},{"path":"ruby/print","title":"標準出力"},{"path":"ruby/cl_args","title":"コマンドライン引数"}]},{"id":1,"title":"入出力","list":[{"path":"ruby/console_key_input","title":"コンソールでキー入力を得る"}]},{"id":2,"title":"文字列","list":[{"path":"ruby/regexp","title":"正規表現"}]},{"id":3,"title":"配列","list":[{"path":"ruby/swap","title":"入れ替え"}]},{"id":4,"title":"関数","list":[{"path":"ruby/function_object","title":"関数オブジェクト"},{"path":"ruby/type_check","title":"型判定"}]}]},{"kind":"python","name":"Python","categories":[{"id":0,"title":"リスト","list":[{"path":"python/flatten","title":"リストを展開する"}]},{"id":1,"title":"関数","list":[{"path":"python/variable_argument","title":"可変長引数"},{"path":"python/type_check","title":"型判定"}]},{"id":2,"title":"クラス","list":[{"path":"python/class","title":"クラス"},{"path":"python/special_method","title":"特殊メソッド"}]}]},{"kind":"android","name":"Android","categories":[{"id":0,"title":"レイアウト","list":[]},{"id":1,"title":"関数","list":[]},{"id":2,"title":"adb","list":[]},{"id":3,"title":"Tips","list":[]}]}]
        div.row.mx-auto
            each k in kinds
                +dev-card(k.kind, k.name, k.categories)

    +footer([{
        filename: 'index.html',
        title: 'Top'
    }, {
        current: true,
        filename: 'dev.html',
        title: '開発'
    }])
