include templates/dev.pug
+var

+head('開発')

body
    +header('dev')

    +main([0,9,3])
        - var kinds = [{"kind":"c","name":"C","categories":[{"id":0,"title":"基本","list":[{"path":"c/main","title":"main関数"},{"path":"c/cl_args","title":"コマンドライン引数"}]}]},{"kind":"java","name":"Java","categories":[{"id":0,"title":"基本","list":[{"path":"java/main","title":"main関数"}]}]},{"kind":"ruby","name":"Ruby","categories":[{"id":0,"title":"基本","list":[{"path":"ruby/main","title":"main関数的なやつ"},{"path":"ruby/print","title":"標準出力"},{"path":"ruby/cl_args","title":"コマンドライン引数"}]}]},{"kind":"python","name":"Python","categories":[{"id":0,"title":"クラス","list":[{"path":"python/special_method","title":"特殊メソッド"}]}]}]
        div.row.mx-auto
            each k in kinds
                +dev-card(k.kind, k.name, k.categories)

    +footer([{
        filename: 'index.html',
        title: 'Top'
    }, {
        current: true,
        filename: 'dev.html',
        title: '開発'
    }])
