include templates/layout.pug
+var

+head

body
    +header('top')

    +main
        div.jumbotron
            h1 Hello, World!

    +footer([{
        current: true,
        filename: 'index.html',
        title: 'Top'
    }])
