include includes/layout.pug

+head

body
    +navbar('top')

    div.container-fluid.row.mx-0
        main.col-12.col-md-9.py-md-3.pl-md-5(role="main")
            span content
        div.col-12.col-md-3.py-md-3
            span side bar

    //- script is contained automatically
