include templates/layout.pug
+var

doctype html
html(lang="ja")
    +head

    body
        +header('top')

        +main([0,9,3])
            div.jumbotron
                h1 Hello, World!

        +footer([{
            current: true,
            filename: 'index.html',
            title: 'Top'
        }])
