include templates/learning.pug
+var

doctype html
html(dev="ja")
    +head('学習')

    body
        +header('learning')

        +main([0,9,3])
            - var articles = [{"url":"learning/1","title":"ライフゲーム","img":"lifegame.png"}]
            div.row.mx-auto
                each article in articles
                    +article-card(article.url, article.title, article.img)

        +footer([{
            filename: 'index.html',
            title: 'Top'
        }, {
            current: true,
            filename: 'univ.html',
            title: 'Univ'
        }])
