include templates/layout.pug
+var

+head

body
    +header('univ')

    +main
        div.jumbotron.bg-info
            h1 University Page
        - var articles = [{url: 'univ/1', title: 'ライフゲーム', img: 'lifegame.png'}]
        div.row.mx-auto
            each article in articles
                +article-card(article.url, article.title, article.img)

    +footer([{
        filename: 'index.html',
        title: 'Top'
    }, {
        current: true,
        filename: 'univ.html',
        title: 'Univ'
    }])
