include ../../templates/dev.pug

+var_dev([{"id":0,"title":"基本","list":[{"path":"ruby/main","title":"main関数的なやつ"},{"path":"ruby/print","title":"標準出力"},{"path":"ruby/command_line_args","title":"コマンドライン引数"}]},{"id":1,"title":"入出力","list":[{"path":"ruby/console_key_input","title":"コンソールでキー入力を得る"}]},{"id":2,"title":"文字列","list":[{"path":"ruby/regexp","title":"正規表現"}]},{"id":3,"title":"配列","list":[{"path":"ruby/swap","title":"入れ替え"}]},{"id":4,"title":"関数","list":[{"path":"ruby/function_object","title":"関数オブジェクト"},{"path":"ruby/type_check","title":"型判定"}]},{"id":5,"title":"他の言語","list":[{"path":"c/command_line_args","title":"C"},{"path":"java/command_line_args","title":"Java"}]}], "ruby/command_line_args", "Ruby")

+devart("ruby", "command_line_args", "コマンドライン引数", "Ruby")
    p.lead コマンドラインから引数を受け取る
    p
        | 引数は
        code ARGV
        | に配列として格納されている
    h4 例
    p foo.rb
    +code("ruby").
        puts ARGV[0]
    p 実行
    +code("bash").
        ruby foo.rb bar
    p.mt-1 出力
    samp bar
    
