include ../../templates/dev.pug

+var_dev([{"id":0,"title":"基本","list":[{"path":"ruby/main","title":"main関数的なやつ"},{"path":"ruby/print","title":"標準出力"},{"path":"ruby/cl_args","title":"コマンドライン引数"}]},{"id":1,"title":"入出力","list":[{"path":"ruby/console_key_input","title":"コンソールでキー入力を得る"}]},{"id":2,"title":"文字列","list":[{"path":"ruby/regexp","title":"正規表現"}]},{"id":3,"title":"配列","list":[{"path":"ruby/swap","title":"入れ替え"}]},{"id":4,"title":"関数","list":[{"path":"ruby/function_object","title":"関数オブジェクト"},{"path":"ruby/type_check","title":"型判定"}]}], "ruby/console_key_input", "Ruby")

+devart("ruby", "console_key_input", "コンソールでキー入力を得る", "Ruby")
    +code("ruby").
        require 'io/console'
        # 取得
        STDIN.getch
    
        ## 例
        # a
        #=> a
    
        # Enter
        #=> \r
    
        # 矢印キー↑
        #=>
        # \e
        # [
        # A
    
    h3 参考
    a(href="https://qiita.com/zakuroishikuro/items/a0462797ef275a815dd3") ターミナルのキー入力を得てカーソル移動とかする (curses無し) - Qiita
    
    h3 関連
    p: a(href="http://d.hatena.ne.jp/zariganitosh/20150224/escape_sequence") エスケープシーケンスを体感する
    p: a(href="https://www.mm2d.net/main/prog/c/console-01.html") エスケープシーケンス
    p: a(href="http://d.hatena.ne.jp/foussin/20140503/1399122536") 制御文字(エスケープシーケンス)一覧
    
