include ../../templates/lang.pug

+var_lang([{"id":0,"title":"基本","list":[{"filename":"ruby/main","title":"main関数的なやつ"},{"filename":"ruby/print","title":"標準出力"},{"filename":"ruby/cl_args","title":"コマンドライン引数"}]},{"id":1,"title":"他の言語","list":[{"filename":"c/top","title":"C"},{"filename":"java/top","title":"Java"},{"filename":"python/top","title":"Python"}]}], "ruby/top", "Ruby")

+langart("ruby", "top", "Ruby", "Ruby")
    p スクリプト言語
    p 日本人が作った
    p 関数の実行に()がいらない
    
    h3 実行例
    +code("bash").
        ruby sample.rb
    
    h3 Hello World
    +code("ruby").
        puts "Hello, World!"
    
