include ../../templates/dev.pug

+var_dev([{"id":0,"title":"基本","list":[{"path":"ruby/main","title":"main関数的なやつ"},{"path":"ruby/print","title":"標準出力"},{"path":"ruby/cl_args","title":"コマンドライン引数"}]},{"id":1,"title":"入出力","list":[{"path":"ruby/console_key_input","title":"コンソールでキー入力を得る"}]},{"id":2,"title":"文字列","list":[{"path":"ruby/regexp","title":"正規表現"}]},{"id":3,"title":"配列","list":[{"path":"ruby/swap","title":"入れ替え"}]},{"id":4,"title":"関数","list":[{"path":"ruby/function_object","title":"関数オブジェクト"},{"path":"ruby/type_check","title":"型判定"}]},{"id":5,"title":"他の言語","list":[{"path":"c/top","title":"C"},{"path":"java/top","title":"Java"},{"path":"python/top","title":"Python"}]}], "ruby/top", "Ruby")

+devart("ruby", "top", "Ruby", "Ruby")
    p スクリプト言語
    p 日本人が作った
    p 関数の実行に()がいらない
    
    h3 実行例
    +code("bash").
        ruby sample.rb
    
    h3 Hello World
    +code("ruby").
        puts "Hello, World!"
    
