include ../../templates/dev.pug

+var_dev([{"id":0,"title":"基本","list":[{"path":"ruby/main","title":"main関数的なやつ"},{"path":"ruby/print","title":"標準出力"},{"path":"ruby/command_line_args","title":"コマンドライン引数"},{"path":"ruby/execute_shell_script","title":"シェルスクリプトを実行する"}]},{"id":1,"title":"入出力","list":[{"path":"ruby/console_key_input","title":"コンソールでキー入力を得る"}]},{"id":2,"title":"文字列","list":[{"path":"ruby/regexp","title":"正規表現"}]},{"id":3,"title":"配列","list":[{"path":"ruby/swap","title":"入れ替え"}]},{"id":4,"title":"関数","list":[{"path":"ruby/function_object","title":"関数オブジェクト"},{"path":"ruby/type_check","title":"型判定"}]},{"id":5,"title":"他の言語","list":[{"path":"python/type_check","title":"Python"}]}], "ruby/type_check", "Ruby")

+devart("ruby", "type_check", "型判定", "Ruby", "2017/11/30")
    code obj.is_a?(class), obj.kind_of?(class), class === obj
    p objがclassのインスタンスであればtrue
    p classを継承またはincludeしているクラスのインスタンスでもtrue
    
    code obj.instance_of?(class)
    p objがclassのインスタンスであればtrue
    p classを継承またはincludeしているクラスのインスタンスではfalse
    
