include ../../templates/dev.pug

+var_dev([{"id":0,"title":"基本","list":[{"path":"c/main","title":"main関数"},{"path":"c/cl_args","title":"コマンドライン引数"}]},{"id":1,"title":"他の言語","list":[{"path":"ruby/cl_args","title":"Ruby"}]}], "c/cl_args", "C")

+devart("c", "cl_args", "コマンドライン引数", "C")
    p.lead コマンドラインから引数を受け取る
    +code("c").
        int main(int argc, char *argv[]) {
            /* argcに引数の数, argvに引数が格納されている */
            return 0;
        }
    p 以下も可
    +code("c").
        int main(int argc, char **argv) {}
    
    h3 例
    p foo.c
    +code("c"): :esc
        #include <stdio.h>
    
        int main(int argc, char *argv[]) {
            for (int i = 0; i < argc; i++) {
                printf("%s\n", argv[i]);
            }
            return 0;
        }
    p 実行
    +code("bash").
        gcc ./foo.c
        ./a.out bar
    p 出力
    samp: pre.mb-0.
        ./a.out
        bar
    
    h4 関連
    a(href="main.html") main関数
    
