include ../../templates/dev.pug

+var_dev([{"id":0,"title":"基本","list":[{"path":"c/main","title":"main関数"},{"path":"c/command_line_args","title":"コマンドライン引数"},{"path":"c/split_code","title":"ソースファイル分割"}]},{"id":1,"title":"配列","list":[{"path":"c/two_dimensional_array","title":"2次元配列"}]},{"id":2,"title":"他の言語","list":[{"path":"ruby/command_line_args","title":"Ruby"},{"path":"java/command_line_args","title":"Java"}]}], "c/command_line_args", "C")

+devart("c", "command_line_args", "コマンドライン引数", "C", "2018/1/12")
    p.lead コマンドラインから引数を受け取る
    +code("c").
        int main(int argc, char *argv[]) {
            /* argcに引数の数, argvに引数が格納されている */
            return 0;
        }
    p 以下も可
    +code("c").
        int main(int argc, char **argv) {}
    
    h3 例
    +code("c", "foo.c"): :esc
        #include <stdio.h>
    
        int main(int argc, char *argv[]) {
            for (int i = 0; i < argc; i++) {
                printf("%s\n", argv[i]);
            }
            return 0;
        }
    
    h6 実行
    +code("bash").
        gcc ./foo.c
        ./a.out bar
    
    h6 出力
    samp: pre.mb-0.
        ./a.out
        bar
    
    h4 関連
    a(href="main.html") main関数
    
