include ../../templates/dev.pug

+var_dev([{"id":0,"title":"基本","list":[{"path":"c/main","title":"main関数"},{"path":"c/command_line_args","title":"コマンドライン引数"},{"path":"c/split_code","title":"ソースファイル分割"}]},{"id":1,"title":"配列","list":[{"path":"c/two_dimensional_array","title":"2次元配列"}]},{"id":2,"title":"他の言語","list":[{"path":"java/main","title":"Java"},{"path":"ruby/main","title":"Ruby"}]}], "c/main", "C")

+devart("c", "main", "main関数", "C", "2017/11/28")
    p.lead C言語でははじめにmain関数が実行される
    p.lead 返り値(<code>return 0;</code>の0)はプログラムが返す値で0が正常終了, 1が異常終了(C99以降は省略可で省略すると0を返す)
    
    h3 1. 一般的な書き方
    +code("c").
        int main(void) {
            /* 処理 */
            return 0;
        }
    
    h3 2. voidは省略可
    +code("c").
        int main() {
            /* 処理 */
            return 0;
        }
    p 1では<code>main(0)</code>などとするとエラーになるが2ではエラーは起きない
    
    h3 3. 返り値の型を省略
    p 多くのコンパイラで一応動く(int扱い)が、省略すべきではない
    +code("c").
        main(void) { /* 処理 */ }
        main() { /* 処理 */ }
    
    h3 例
    +code("c"): :esc
        #include <stdio.h>
    
        int main(void) {
            printf("Hello, World!\n");
            return 0;
        }
    p 出力
    samp Hello, World!
    
    h4 参考
    a(href="https://qiita.com/raccy/items/b59bd7fa9f4eacabca79" target="_blank") C言語(C11)で`main`の定義方法は何が一番正しいのか？ - Qiita
    h4 関連
    ul.list-unstyled
        li: a(href="cl_args.html") コマンドライン引数を受け取る
        li: a(href="https://qiita.com/nwtgck/items/32ea5dc3111a9514b12a" target="_blank") C言語のreturn 0の有用性が今更わかった話 - Qiita
    
