include ../../templates/dev.pug

+var_dev([{"id":0,"title":"基本","list":[{"path":"c/main","title":"main関数"},{"path":"c/command_line_args","title":"コマンドライン引数"},{"path":"c/split_code","title":"ソースファイル分割"}]},{"id":1,"title":"配列","list":[{"path":"c/two_dimensional_array","title":"2次元配列"}]},{"id":2,"title":"他の言語","list":[{"path":"java/top","title":"Java"},{"path":"ruby/top","title":"Ruby"},{"path":"python/top","title":"Python"},{"path":"android/top","title":"Android"},{"path":"latex/top","title":"LaTeX"},{"path":"algorithm/top","title":"アルゴリズム"},{"path":"kotlin/top","title":"Kotlin"},{"path":"mysql/top","title":"MySQL"},{"path":"git/top","title":"Git"}]}], "c/top", "C")

+devart("c", "top", "C言語", "C", "2017/11/29")
    p コンパイル言語
    p 昔から使われている
    p 速い
    
    h3 実行例
    +code("bash").
        gcc sample.c
        ./a.out
    
    h3 Hello World
    +code("c").
        #include <stdio.h>
        int main(void) {
            printf("Hello, World!\n");
            return 0;
        }
    
