include ../../templates/dev.pug

+var_dev([{"id":0,"title":"基本","list":[{"path":"c/main","title":"main関数"},{"path":"c/command_line_args","title":"コマンドライン引数"},{"path":"c/split_code","title":"ソースファイル分割"}]},{"id":1,"title":"配列","list":[{"path":"c/two_dimensional_array","title":"2次元配列"}]}], "c/two_dimensional_array", "C")

+devart("c", "two_dimensional_array", "2次元配列", "C", "2017/12/12")
    h3 参考
    a(href="http://tondol.hatenablog.jp/entry/20090713/1247426321") C言語で２次元配列を動的に割り当てる４つの方法
    
