include ../../templates/dev.pug

+var_dev([{"id":0,"title":"関数","list":[{"path":"kotlin/lambda_expression","title":"ラムダ式"}]},{"id":1,"title":"他の言語","list":[{"path":"c/top","title":"C"},{"path":"java/top","title":"Java"},{"path":"ruby/top","title":"Ruby"},{"path":"python/top","title":"Python"},{"path":"android/top","title":"Android"},{"path":"latex/top","title":"LaTeX"},{"path":"algorithm/top","title":"アルゴリズム"},{"path":"mysql/top","title":"MySQL"}]}], "kotlin/top", "Kotlin")

+devart("kotlin", "top", "Kotlin", "Kotlin", "2018/1/12")
    p.lead KotlinはJavaと同じくJVM上で動く言語
    p Null安全、関数型などJavaでは扱いにくい機能が扱いやすく実装されている
    p Androidアプリでよく使われるようになっている
    p Kotlin/Nativeを使えばネイティブコードに変換することもでき、様々なプラットフォームで使えるようになっている
    
