p コンパイル言語
p 昔から使われている
p 速い

h3 実行例
+code("bash").
    gcc sample.c
    ./a.out

h3 Hello World
+code("c").
    #include <stdio.h>
    int main(void) {
        printf("Hello, World!\n");
        return 0;
    }
