include ../../templates/dev.pug

+var_dev([{"id":0,"title":"レイアウト","list":[{"path":"android/simple_fragment_template","title":"Android Studioでfragmentを使ったシンプルなテンプレートを作る"}]},{"id":1,"title":"コンポーネント","list":[{"path":"android/edittext_ime_invalidate","title":"EditTextでIMEを無効化する"},{"path":"android/button_unset_allcaps","title":"ボタンで全て大文字になるのを防ぐ"},{"path":"android/re_draw","title":"再描画させる"},{"path":"android/edittext_cursor_move","title":"EditTextのカーソルを動かす"},{"path":"android/create_custom_view","title":"カスタムViewを作成する"}]}], "android/create_custom_view", "Android")

+devart("android", "create_custom_view", "カスタムViewを作成する", "Android", "2018/1/12")
    p ViewやViewを継承したコンポーネント(Buttonなど)を継承して作成する
    h4 描画処理
    p
        code onDraw
        | メソッドをオーバーライドして実装する
    p
        code super.onDraw(canvas)
        | を呼び出す
    
