include ../../templates/dev.pug

+var_dev([{"id":0,"title":"レイアウト","list":[{"path":"android/simple_fragment_template","title":"Android Studioでfragmentを使ったシンプルなテンプレートを作る"}]},{"id":1,"title":"コンポーネント","list":[{"path":"android/edittext_ime_invalidate","title":"EditTextでIMEを無効化する"},{"path":"android/button_unset_allcaps","title":"ボタンで全て大文字になるのを防ぐ"},{"path":"android/re_draw","title":"再描画させる"},{"path":"android/edittext_cursor_move","title":"EditTextのカーソルを動かす"},{"path":"android/create_custom_view","title":"カスタムViewを作成する"}]},{"id":2,"title":"他の言語","list":[{"path":"c/top","title":"C"},{"path":"java/top","title":"Java"},{"path":"ruby/top","title":"Ruby"},{"path":"python/top","title":"Python"},{"path":"latex/top","title":"LaTeX"},{"path":"algorithm/top","title":"アルゴリズム"},{"path":"kotlin/top","title":"Kotlin"},{"path":"mysql/top","title":"MySQL"}]}], "android/top", "Android")

+devart("android", "top", "Android", "Android", "2017/11/30")
    p Googleが開発しているスマホ・タブレット向けOS
    p ウェアラブル端末やテレビにも使われたり
    p Linuxがベース
    p アプリケーションはJVM(通常のJVMではないが)上で動く
    p アプリ開発で公式にサポートされてるのは
        a(href="../java/top.html") Java
        | やKotlinですが、ScalaなどJVM上で動く他の言語も使えます
    br
    p 主にAndroid Studioでのアプリ開発について書いています
    
    h4 関連
    a(href="../java/top.html") Java
    
