p.lead Androidアプリ開発でよく使われる関数のメモ

h5 Fragment
ul
    li: strong View 《LayoutInflater》.inflate(int resource, ViewGroup root, boolean attachToRoot)
    p rootにxmlをはめ込む。
    p resouce:R.layout.~
    p attachToRoot:trueなら戻り値は第2引数,falseなら戻り値は第1引数
