p デフォルトだとMenuItemのapp:showAsActionをalwaysにして、ActionBarにMenuItemを表示させると英字は全て大文字になってしまいます。
p styles.xmlのタグ内に以下を追加すればよい
+code("markup", "XML"): :esc
    <bool name="abc_config_actionMenuItemAllCaps">false</bool>
