p Googleが開発しているスマホ・タブレット向けOS
p ウェアラブル端末やテレビにも使われたり
p Linuxがベース
p アプリケーションはJVM(通常のJVMではないが)上で動く
p アプリ開発で公式にサポートされてるのは
    a(href="../java/top.html") Java
    | やKotlinですが、ScalaなどJVM上で動く他の言語も使えます
br
p 主にAndroid Studioでのアプリ開発について書いています

h4 関連
a(href="../java/top.html") Java
