include templates/univ.pug
+var

+head('University Page')

body
    +header('univ')

    +main([0,9,3])
        div.jumbotron.bg-info
            h1 University Page
        - var articles = \{articles}
        div.row.mx-auto
            each article in articles
                +article-card(article.url, article.title, article.img)

    +footer([{
        filename: 'index.html',
        title: 'Top'
    }, {
        current: true,
        filename: 'univ.html',
        title: 'Univ'
    }])
