include ../../templates/dev.pug

+var_dev([{"id":0,"title":"基本","list":[{"path":"java/main","title":"main関数"}]},{"id":1,"title":"他の言語","list":[{"path":"c/main","title":"C"},{"path":"ruby/main","title":"Ruby"}]}], "java/main", "Java")

+devart("java", "main", "main関数", "Java")
    p.lead Javaではファイル名と一致する名前のクラスのmainメソッドから処理が始まる
    p Main.java
    +code("java").
        class Main {
            public static void main(String args[]) {
                /* 処理 */
            }
        }
    p
        code public
        | はアクセス修飾子でメソッドが公開されていることを意味している.
    p
        code static
        | は静的であることを意味する修飾子.
        | main関数はクラスメソッドでなければならない.
    p
        code void
        | 返り値の型.
        | voidなので返り値はなし.
    p
        code String args[]
        a(href="cl_args.html") コマンドライン引数
    p 全て省略不可. void以外の返り値も不可.
    
    h3 例
    p Main.java
    +code("java").
        class Main {
            public static void main(String args[]) {
                System.out.println("Hello, World!");
            }
        }
    p 実行
    +code("bash").
        javac Main.java
        java Main
    p 出力
    samp Hello, World!
    
