+code("ruby").
    require 'io/console'
    # 取得
    STDIN.getch

    ## 例
    # a
    #=> a

    # Enter
    #=> \r

    # 矢印キー↑
    #=>
    # \e
    # [
    # A

h3 参考
a(href="https://qiita.com/zakuroishikuro/items/a0462797ef275a815dd3") ターミナルのキー入力を得てカーソル移動とかする (curses無し) - Qiita

h3 関連
p: a(href="http://d.hatena.ne.jp/zariganitosh/20150224/escape_sequence") エスケープシーケンスを体感する
p: a(href="https://www.mm2d.net/main/prog/c/console-01.html") エスケープシーケンス
p: a(href="http://d.hatena.ne.jp/foussin/20140503/1399122536") 制御文字(エスケープシーケンス)一覧
