p.lead rubyからシェルスクリプトを実行する
+code("ruby").
    # 出力先はターミナルではない
    # 返り値は実行結果
    `echo '1'`

    # 出力先はターミナルではない
    # 返り値は実行結果
    %x{ echo '2' }

    # 出力先はターミナル
    # 返り値は成功ならtrue, 失敗ならfalse
    system("echo '3'")

    # 出力先はターミナル
    # rubyは終了するので返り値なし
    exec("echo '4'")
