p.lead Rubyで正規表現を扱う
h3 Regexp
+code("ruby").
    Regexp.new("foo.+", Regexp::IGNORECASE)

    # リテラル
    /foo.+/i

h3 比較
+code("ruby"): :esc
    ## 位置を返す
    /foo/ =~ "a foo"    #=> 2
    /bar/ =~ "a foo"    #=> nil
    "a foo" =~ /foo/    #=> 2

    ## 最初にマッチした部分を返す
    "a foo"[/foo/]      #=> "foo"
    # 第2引数省略/0がマッチした部分, n(>0)がn番目の括弧の部分
    "bar"[/(.)(.)/, 2]  #=> "a"

    ## 真偽値を返す
    /foo/ === "a foo"   #=> true
    /bar/ === "a foo"   #=> false

h4 参考
a(href="https://docs.ruby-lang.org/ja/latest/class/Regexp.html") class Regexp (Ruby 2.4.0)
