code obj.is_a?(class), obj.kind_of?(class), class === obj
p objがclassのインスタンスであればtrue
p classを継承またはincludeしているクラスのインスタンスでもtrue

code obj.instance_of?(class)
p objがclassのインスタンスであればtrue
p classを継承またはincludeしているクラスのインスタンスではfalse
