include ../../templates/dev.pug

+var_dev([{"id":0,"title":"SQL文","list":[{"path":"mysql/manipulate_database","title":"データベースの操作"}]},{"id":1,"title":"他の言語","list":[{"path":"c/top","title":"C"},{"path":"java/top","title":"Java"},{"path":"ruby/top","title":"Ruby"},{"path":"python/top","title":"Python"},{"path":"android/top","title":"Android"},{"path":"latex/top","title":"LaTeX"},{"path":"algorithm/top","title":"アルゴリズム"},{"path":"kotlin/top","title":"Kotlin"}]}], "mysql/top", "MySQL")

+devart("mysql", "top", "MySQL", "MySQL", "2018/1/19")
    
